/venv
.env
.terraform*
*.tfstate*
02-value.tfvars
testconnect.py
fignore
pass.txt
fignore\pass.txt
terraformSL2_accessKeys.csv
fignore\terraformSL2_accessKeys.csv
*.log
*.zip
insert-crypto-data-daily-edit-fortest